<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Web User Registration</title>
</head>
<body>
	<h2>Project 1: Web User Registration</h2>
	<form action="#" th:action="@{/StoringUserData}" th:object="${webUser}"
		method="post">

		Login ID: <input type="text" th:field="*{loginId}" required /><br />
		<br /> Password: <input type="password" th:field="*{password}"
			required /><br />
		<br /> State: <select th:field="*{state}" required>
			<option value="NEW">New</option>
			<option value="ACTIVE">Active</option>
			<option value="BLOCKED">Blocked</option>
			<option value="BANNED">Banned</option>
		</select><br />
		<br />

		<button type="submit">Save User</button>
	</form>
</body>
</html>